body {
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);

    --neutral-dark-blue: hsl(220, 13%, 13%);
    --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
    --neutral-grayish-blue: hsl(220, 14%, 75%);
    --neutral-light-grayish-blue: hsl(223, 64%, 98%);
    --black: hsl(0, 0%, 0%);


    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans';

}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: none;
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: center;
    padding: 0 25px;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(1000px, 100%, 90%);
    background-color: white;
    height: auto;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.navbar-links a {
    padding: 40px 0;
    font-size: 16px;
    color: var(--neutral-dark-grayish-blue);
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

.navbar-links a:hover {
    box-shadow: inset 0 -4px 0 0 var(--primary-orange);
}


.sidebar {
    position: absolute;
    width: 350px;
    height: 100%;
    z-index: 900;
    background-color: white;
    display: none;
}

.sidebar-open {
    border: 0;
    background-color: white;
    /* padding: 30px 0px 45px 0; */
    cursor: pointer;
    display: none;
}

.sidebar-open img {
    height: 20px;
    width: 20px;
}

.sidebar button {
    border: 0;
    background-color: white;
    cursor: pointer;
}

.sidebar-content {
    padding: 2em;
    font-size: 22px;
}

.sidebar-content button {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.sidebar-content button:hover {
    background-color: lightgray;
}

.sidebar-collection {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 30px;
}

.sidebar-content a {
    font-weight: 700;
    cursor: pointer;
}

.user-profile-container {
    display: flex;
    justify-content: end;
    width: 100%;
    position: relative;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 30px;

}

.cart-button {
    margin-left: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.cart-container {
    position: absolute;
    top: 80%;
    right: 0;
    margin-top: 10px;
    z-index: 3;
    width: clamp(300px, 100%, 400px);
    background-color: white;
    padding: 20px 25px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(179, 179, 179, 0.7);
    display: none;
}

.cart-container>h1 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 20px 0;
}

.line {
    height: 1px;
    background-color: lightgray;
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
}

.cart-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.cart-list li {
    display: flex;
    padding: 10px 0;
    margin: 0;
    align-items: center;
}

.cart-list li>button {
    margin-left: auto;
}

.cart-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.cart-thumbnail>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cart-details {
    display: flex;
    flex-direction: column;
    color: var(--neutral-dark-grayish-blue);
}

.cart-details span {
    line-height: 25px;
}

.item-total {
    color: black;
    font-weight: 700;
}

.delete-item {
    border: 0;
    background-color: transparent;
    position: relative;
    right: 0;
    cursor: pointer;
}

.checkout-button {
    background-color: var(--primary-orange);
    border: 0;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.checkout-button > div{
    font-family: 'Kumbh Sans';
    font-weight: 700;
    font-size: 16px;
}

.is-it-empty-container {
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
}

.is-it-empty-container>span {
    text-align: center;
    font-size: 20px;
    color: var(--neutral-dark-grayish-blue);
    font-weight: 400;
    font-style: italic;
}

.user-avatar {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

.user-avatar:hover {
    outline: 3px solid var(--primary-orange);
    border-radius: 50%;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.5rem;
    gap: 1rem; */
    /* width: 100%; */
}

.product-display {
    position: relative;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
}

.image-container {
    max-width: 450px;
    max-height: 450px;
    min-width: 350px;
    min-height: 350px;
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;

}

.image-container::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.main-display {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-display li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.main-display li[data-active] {
    opacity: 1;
    z-index: 1;
}

.main-display img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.display-image-container {
    position: fixed;
    min-width: 280px;
    width: 70vw;
    max-width: 500px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.display-image-container ul,
.display-image-container li {
    padding: 0;
    margin: 0;
}

.display-image-wrapper {
    position: relative;
}

.slider {
    position: absolute;
    width: 100%;
    list-style: none;
    padding: 0;
    cursor: default;
}

.slider li {
    position: absolute;
    transform: translateY(-50%);
    opacity: 0;
}

.slider li[data-active] {
    opacity: 1;
    z-index: 1;
}

.display-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#display-previous-image {
    top: 50%;
    left: -25px;
}

#display-next-image {
    top: 50%;
    right: -25px
}

.image-cycle,
.image-cycle-display {
    position: absolute;
    border: 0;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    margin: 0;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transform: translateY(-50%);
}

.image-cycle {
    display: none;
}

.image-cycle img {
    width: 10px;
    height: 16px;
    padding: 0 3px;
}

.image-cycle:hover {
    fill: var(--primary-orange)
}

#previous-image {
    top: 50%;
    left: 20px;
}

#next-image {
    top: 50%;
    right: 20px;
}

.product-thumbnails,
.product-thumbnails-display {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* margin-top: 1.25rem; */
    list-style: none;
    padding: 0;
}

.product-thumbnails-display {
    gap: 10px;
    z-index: 1;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: end;
}

.product-thumbnails-display::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.product-thumbnails>li {
    padding: 0;
    margin: 0;
}

.product-thumbnails-active {
    outline: 2px solid var(--primary-orange);
    border-radius: 10px;
    height: 75px;
    max-height: 90px;
    height: auto;
}

.product-thumbnails img,
.product-thumbnails-display img {
    min-width: 75px;
    min-height: 75px;
    width: auto;
    height: auto;
    max-width: 90px;
    max-height: 90px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    object-fit: cover;
}

.product-thumbnails-display img {
    background-color: gray;
    min-width: 60px !important;
    min-height: 60px !important;
    width: auto;
    height: auto;
    max-width: 90px;
    max-height: 90px;
}

.product-thumbnails img:active,
.product-thumbnails-display img:active {
    border: 3px solid var(--primary-orange);
}

.product-thumbnails img:hover,
.product-thumbnails img:active,
.product-thumbnails-display img:hover,
.product-thumbnails-display img:active {
    background-color: white;
    opacity: 50%;
}

.product-info {
    margin-left: 3rem;
    font-size: 16px;
    padding: 1.5rem;
    box-sizing: border-box;
    min-width: 320px;
    width: auto;
    max-width: 480px;
    flex: 1;
}

.product-company {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: var(--neutral-dark-grayish-blue);
}

.product-info>h1 {
    font-size: 32px;
    margin: 0.4em 0;
}

.product-info p {
    line-height: 1.6;
    color: var(--neutral-dark-grayish-blue);
}

.product-prices {
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    margin: 0 0 1.7rem 0;
}

.product-sale-price {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
}

.product-current-price {
    font-size: 2em;
    font-weight: 700;
    color: var(--neutral-dark-blue);
}

.product-sale-off {
    font-size: 1em;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: var(--neutral-dark-blue);
    color: white;
    display: inline-block;
}

.product-previous-price {
    font-weight: 700;
    color: var(--neutral-dark-grayish-blue);
    text-decoration: line-through;
}

.userinput-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.userinput-quantity {
    background-color: var(--neutral-light-grayish-blue);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.userinput-quantity label {
    min-width: 70px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.userinput-quantity button {
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    border: 0;
    background-color: var(--neutral-light-grayish-blue);
}

/* Adjust MINUS svg height to match the sibling elements */
#lowerQuantity {
    height: 100%;
}

.userinput-quantity button>img {
    object-fit: contain;
}


.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 15px 15px;
    min-width: 240px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    background-color: var(--primary-orange);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: hsl(26, 100%, 62%);
}

.add-to-cart>div:active,
.checkout-button>div:active {
    transform: scale(0.9);
}

.add-to-cart img {
    padding: 0 10px;
    width: 17px;
    height: 15px;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 780px) {
    .product-info {
        margin: 0;
    }

    .product-wrapper {
        flex-wrap: wrap;
    }

    .navbar-links a {
        display: none;
    }

    .sidebar-open {
        display: block;
    }
}

/* Width below mobile screen */
@media screen and (max-width: 520px) {
    .display-image-container {
        min-width: 100%;
    }

    .display-image-container img {
        border-radius: 0;
    }

    #display-previous-image {
        left: 10px;
    }

    #display-next-image {
        right: 10px;
    }

    .container {
        margin: 0;
    }

    .product-thumbnails,
    .product-thumbnails-display {
        display: none;
    }

    .product-display {
        padding: 0;
        flex-grow: 1;
    }

    .image-container {
        width: 100%;
        height: 320px;
        max-width: 100%;
        min-height: auto;
    }

    .main-display img {
        object-fit: cover;
        border-radius: 0;
        width: 100%;
        height: 100%;
        object-position: top;
    }

    .image-cycle {
        display: flex;
    }

    .product-prices {
        flex-direction: row;
    }

    .product-previous-price {
        display: flex;
        align-self: center;
        justify-content: end;
        flex-grow: 1;
    }
}